<!-- Header Section -->
<header class="header container">
  <!-- Container for header content -->
      <div class="d-flex justify-content-between align-items-center">
          <!-- Logo -->
          <img src="assets/logo.png" alt="Logo" height="50" width="100">
          
          <!-- Navigation Menu -->
          <nav class="d-flex">
              <!-- Navigation items -->
              <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
          </nav>
          <!-- Search Bar -->
          <div class="searchBar">
              <input type="text" placeholder="Search Book" class="searchSpace">
              <i class="fa fa-search searchLogo" aria-hidden="true"></i>
          </div>
      </div>
</header>

<!-- Main Heading -->
<h2 class="heading">Home of Books...</h2>

<!-- Slider Section -->
<div class="slider container">
  <owl-carousel-o [options]="customOptions">
      <!-- Carousel Slides -->
      <ng-template carouselSlide><img class="slider_size" src="assets/Slide1.webp" alt=""></ng-template>
      <ng-template carouselSlide><img class="slider_size" src="assets/Slide2.avif" alt=""></ng-template>
      <ng-template carouselSlide><img class="slider_size" src="assets/Slide3.avif" alt=""></ng-template>
      <ng-template carouselSlide><img class="slider_size" src="assets/Slide4.webp" alt=""></ng-template>
      <ng-template carouselSlide><img class="slider_size" src="assets/Slide5.webp" alt=""></ng-template>
      <ng-template carouselSlide><img class="slider_size" src="assets/Slide6.jpeg" alt=""></ng-template>
  </owl-carousel-o>
</div>

<!-- Subheading for Book of the Week -->
<h3 class="heading">Book of the Week</h3>

<!-- Section for Book Summary -->
<div class="container d-flex justify-content-between align-items-center book_summary">
  <!-- Image for Book Summary -->
  <img src="assets/theme.jpeg" class="summary_img" alt="">
  <!-- About Book -->
  <div class="summary_text">
      <h4>SUMMARY</h4>
      <p>
          Solar Bones is a 2016 novel by Irish fiction writer Mike McCormack. The novel's plot revolves around Marcus Conway, a deceased middle-aged engineer who has returned on All Souls' Day, and is reminiscing about his past life's events while sitting at his kitchen table. The book is notable for featuring only a single sentence, with all events written as a recollection from the present.
          The novel primarily deals with the themes of order and chaos, love and subsequent loss, and the ability of minor decisions to ripple and inevitably create large outcomes. The novel also comments on "contemporary Irish masculinity" as it discusses the various roles one faces as a husband, father, son, brother, colleague, and neighbor.
          Solar Bones won the 2016 Goldsmiths Prize and the 2018 International Dublin Literary Award, and was longlisted for the 2017 Man Booker Prize. The novel appeared in the bestsellers charts in Ireland in June and July 2018. Hodges Figgis listed it as their third highest selling Irish novel of the decade 2010-2020.
      </p>
  </div>
</div>

<!-- Book Collections Section -->
<h3 class="heading">Our Collections</h3>
<div class="container d-flex justify-content-between align-items-center book_collection px-0">
  <!-- Adventure Books Card -->
  <div class="card" style="width: 17rem;">
      <img class="card-img-top" src="assets/adventure.jpeg" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title"> ADVENTURE</h5>
          <p class="card-text">Are you a fan of Adventure books? If yes; this is the place for you!!!</p>
          <a href="#" class="btn">Browse More</a>
      </div>
  </div>
  <!-- Romance Books Card -->
  <div class="card" style="width: 17rem;">
      <img class="card-img-top" src="assets/romance.jpeg" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">ROMANCE</h5>
          <p class="card-text">Are you a fan of Romantic books? If yes; this is the place for you!!!</p>
          <a href="#" class="btn">Browse More</a>
      </div>
  </div>
  <!-- Science Fiction Books Card -->
  <div class="card" style="width: 17rem;">
      <img class="card-img-top" src="/assets/science_fiction.jpeg" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">SCIENCE-FIC</h5>
          <p class="card-text">Are you a fan of Science-fiction? If yes; this is the place for you!!!</p>
          <a href="#" class="btn">Browse More</a>
      </div>
  </div>
  <!-- Horror Books Card -->
  <div class="card" style="width: 17rem;">
      <img class="card-img-top" src="/assets/horror.jpg" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">HORROR</h5>
          <p class="card-text">Are you a fan of scary books? If yes; this is the place for you!!!</p>
          <a href="#" class="btn">Browse More</a>
      </div>
  </div>
</div>

<!-- Footer Section -->
<footer class="container">
  <!-- Footer Copyright Text -->
   <p class="footer_text">Copyright © Leo_World 2024</p>
  <!-- Social Media Links -->
  <div class="social_media">
      <a href="#"><i class="fa fa-instagram handle" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook handle" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter handle" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin handle" aria-hidden="true"></i></a>
  </div>
</footer>

<!-- Angular Router Outlet for Dynamic Content -->
<router-outlet></router-outlet>
